.hero__button {
  border: 1px solid #c4c4c4;
  background: rgba(17, 17, 17, 0.6);
  width: 240px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all ease 0.5s;
}

.hero__button:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}

.project__btn {
  align-items: center;
  margin-top: 21px;
  margin-left: 42%;
  width: 200px;
  height: 45px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #000;
  color: var(--Gray-6, #f2f2f2);
  text-align: center;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.step__btn {
  padding: 25px 80px;
  margin-left: 6%;
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 37px;
  width: 380px;
  height: 70px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: rgba(196, 196, 196, 0);
  transition: all ease 0.5s;
}

.step__btn:hover {
  color: #fff;
  background: #000;
}

.offer__btn {
  width: 537px;
  height: 72px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #000;
  color: var(--Gray-6, #f2f2f2);
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all ease 0.5s;
}

.offer__btn:hover {
  background: #fff;
  color: #000;
}

.footer__btn {
  margin-top: 10%;
  gap: 5px;
  margin-left: 80%;
  width: 145px;
  height: 50px;
  transform: rotate(-90deg);
  border: 1px solid #000;
  background: rgba(196, 196, 196, 0);
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  align-items: center;
  transition: all ease 0.5s;

  img {
    transform: rotate(-270deg);
  }
}

.footer__btn:hover {
  background: #000;
  color: #fff;
}

.cost__button {
  width: 350px;
  height: 62px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 120px;
  transition: all ease 0.5s;
  display: none;
}

.cost__button:hover {
  background: #fff;
  color: #000;
}

.hover__btn {
  margin: 100px;
  // visibility: hidden;
  opacity: 0;
  margin: 50% 20%;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background: rgba(226, 20, 20, 0);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hover__btn:hover {
  opacity: 1;
  transition: all ease 0.5s;
}
